.img-carrito{
    max-width:100% !important;
    max-height:100% !important;   
}
.content-img-carrito{
    width:170px !important;
    height:170px !important;
}
.input-cant{
    width:80px !important;
}
@media (max-width: 700px) {
    .content-img-carrito{
        width:120px !important;
        height:120px !important;
    }
}
@media (max-width: 450px) {
    .content-img-carrito{
        width:85px !important;
        height:85px !important;
    }
    .precio-cant{
        display: none !important;
    }
}